html {margin: 0px; padding: 0px;}
.container {
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	font-size: 26px;
}
.parallax-window {
	background: transparent;
	min-height: 1200px;
	width: 100%;
}
.parallax-window-child {
	text-align: center;
	background: transparent;
	height: 1000px;
	width: 100%;
}
.parallax-data {
	padding: 100px 50px;
	color: white;
	background: transparent;
	font-size: 40px;
	text-align: center;
	position: relative;
	top: 25%;
	z-index: 3;
}
